* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  padding-bottom: 70px;
}

.header {
  position: relative;
  padding: 14px 14px 46px;
  min-height: 384px;
  background-image: linear-gradient(#2AA3EF 132px, #fff 0);
  border-bottom: 1px solid #C3CDD4;
}

.title {
  margin: 186px 0 0 0;
  font-size: 16px;
}

.domain {
  margin: 6px 0 0 0;
  font-size: 12px;
  color: #AAB8C1;
}

.description {
  margin: 12px 0 0 0;
}

.tab {
  position: absolute;
  right: 14px;
  bottom: 6px;
  left: 14px;
  display: flex;
  margin: 0;
  padding: 0;
  border: 1px solid #2AA3EF;
  border-radius: 5px;
  list-style: none;
}

.tab li {
  flex: 1;
  text-align: center;
  line-height: 30px;
  color: #2AA3EF;
}

.tab li + li {
  border-left: 1px solid #2AA3EF;
}

.tab .active {
  background-color: #2AA3EF;
  color: #fff;
}

.nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-top: 1px solid #C3CDD4;
  list-style: none;
}

.nav li {
  flex: 1;
}

.nav a {
  display: block;
  padding: 6px 0;
  font-size: 28px;
  text-decoration: none;
  text-align: center;
  color: #667785;
}

.nav .active a {
  color: #2AA3EF;
}

.nav-text {
  display: block;
  font-size: 11px;
}