/*  リセット
-----------------------------*/
* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  padding-bottom: 64px;
}


/*  ヘッダー
-----------------------------*/
.header {
  position: relative;
  padding: 14px 14px 46px;
  min-height: 384px;
  background-image: linear-gradient(#2AA3EF 132px, #fff 0);
  border-bottom: 1px solid #C3CDD4;
}

.header-title {
  margin: 186px 0 0 0;
  font-size: 16px;
}

.header-domain {
  margin: 6px 0 0 0;
  font-size: 12px;
  color: #667785;
}

.header-description {
  margin: 12px 0 0 0;
}

.header .site-icon {
  position: absolute;
  top: 104px;
  left: 10px;
}

.header-link {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-link li {
  display: inline-block;
  font-size: 24px;
}

.header-link li + li {
  margin-left: 14px;
}

.header-link-top {
  position: absolute;
  top: 24px;
  right: 14px;
}

.header-link-top a {
  color: #fff;
}

.header-link-bottom {
  position: absolute;
  top: 144px;
  right: 14px;
}

.header-link-bottom a {
  color: #667785;
}

/*  タブ（ヘッダー内）
-----------------------------*/
.tab {
  position: absolute;
  right: 14px;
  bottom: 6px;
  left: 14px;
  display: flex;
  margin: 0;
  padding: 0;
  border: 1px solid #2AA3EF;
  border-radius: 5px;
  list-style: none;
}

.tab li {
  flex: 1;
  text-align: center;
  line-height: 30px;
  color: #2AA3EF;
}

.tab li + li {
  border-left: 1px solid #2AA3EF;
}

.tab .active {
  background-color: #2AA3EF;
  color: #fff;
}


/*  メインコンテンツ
-----------------------------*/
.section {
  position: relative;
  padding: 14px 14px 14px 78px;
}

.section::after {
  content: "\f078";
  display: inline-block;
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 12px;
  font-family: "FontAwesome";
  color: #AAB8C1;
}

.section + .section {
  border-top: 1px solid #C3CDD4;
}

.section-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.section-meta {
  position: absolute;
  top: 14px;
  right: 32px;
  margin: 0;
  padding: 0;
  font-size: 0;
  list-style: none;
}

.section-meta li {
  display: inline-block;
  font-size: 11px;
  color: #AAB8C1;
}

.section-meta li + li::before {
  content: "・";
}

.section .site-icon {
  position: absolute;
  top: 14px;
  left: 14px;
}

.section-content {
  margin: 4px 0 0 0;
}


/*  ナビゲーション
-----------------------------*/
.nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #fff;
  border-top: 1px solid #C3CDD4;
  list-style: none;
}

.nav li {
  flex: 1;
}

.nav a {
  display: block;
  padding: 6px 0;
  font-size: 28px;
  text-decoration: none;
  text-align: center;
  color: #667785;
}

.nav .active a {
  color: #2AA3EF;
}

.nav-text {
  display: block;
  font-size: 11px;
}


/*  サイトアイコン
-----------------------------*/
.site-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center center;
  border: 4px solid #fff;
  border-radius: 8px;
}

.site-icon-small {
  width: 54px;
  height: 54px;
  border: none;
  border-radius: 4px;
}